<p id="notice"><%= notice %></p>
<br><br>
<div style="margin:20px auto;max-width: 600px;border: 1px solid #ccc">
  <p style="margin-top:50px">
    <strong>Nombre:</strong>
    <%= @player.name %>
  </p>

  <p>
    <strong>Dinero Total:</strong>
    <%= @player.money %>
  </p>

  <%= link_to 'Edit', edit_player_path(@player) %> |
  <%= link_to 'Back', players_path %>
</div>
